{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>History</h1>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stock_history %}
            <tr>
                <td>{{stock['timestamp']}}</td>
                <td>{{stock['symbol']}}</td>
                <td>{{stock['shares']}}</td>
                <td>{{stock['price']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
